<div class="nav-item absolute right-1 top-16 bg-white dark:bg-[#42464D] p-8 rounded-lg w-96"
  [class]="isOpen ? 'hidden': 'nav-item block absolute  right-1 top-16   bg-white dark:bg-[#42464D] p-8 rounded-lg w-96 shadow-lg' ">
  <div class="flex justify-between items-center">
    <p class="font-semibold text-lg dark:text-gray-200">User Profile</p>

    <lucide-icon class="cursor-pointer bg-body-secondary" [size]="24" [name]="X" (click)="toggle()"></lucide-icon>

  </div>

  <div class="flex gap-5 items-center mt-6 border-color border-b pb-6">
    <img class="rounded-full h-24 w-24" src="avatar.jpg" alt="user-profile" />
    <div>
      <p class="font-semibold text-xl dark:text-gray-200">Michael Roberts</p>
      <p class="text-gray-500 text-sm dark:text-gray-400">Administrator</p>
      <p class="text-gray-500 text-sm font-semibold dark:text-gray-400">infoshop</p>
    </div>
  </div>

  <div>
    <div *ngFor="let item of profileItems"
      class="flex gap-5 border-b border-color p-4 hover:bg-light-gray cursor-pointer dark:hover:bg-[#42464D]">
      <button type="button" [style.color]="item.iconColor" [style.backgroundColor]="item.iconBg"
        class="text-xl rounded-lg p-3 hover:bg-light-gray">
        <lucide-icon class=" bg-body-secondary" [size]="24" [name]="item.icon"></lucide-icon>
      </button>
      <div>
        <p class="font-semibold dark:text-gray-200">{{ item.title }}</p>
        <p class="text-gray-500 text-sm dark:text-gray-400">{{ item.desc }}</p>
      </div>
    </div>
  </div>

  <div class="mt-5">
    <app-button color="white" [bgColor]="(currentColor | async) || '#000'" text="Logout" borderRadius="10px"
      width="full">
    </app-button>
  </div>
</div>
