<div
  class="m-2 md:m-10 mt-24 p-2 md:p-10 bg-white dark:bg-secondary-dark-bg rounded-3xl"
>
  <app-header category="Page" title="Employees"></app-header>

  @if (employeesData.length) {
  <ejs-grid
    [dataSource]="employeesData"
    width="auto"
    [allowPaging]="true"
    [allowSorting]="true"
    [pageSettings]="pageSettings"
    [editSettings]="editSettings"
  >
    <e-columns>
      <!-- Image Column -->
      <e-column headerText="Photo" width="100">
        <ng-template #template let-data>
          <div class="flex items-center space-x-2">
            <img
              [src]="data.EmployeeImage"
              class="h-10 w-10 rounded-full"
              onError="this.src='assets/default-profile.png'"
            />
            <p>{{ data.Name }}</p>
          </div>
        </ng-template>
      </e-column>

      <!-- Dynamic Columns -->
      @for (column of employeesGrid; track column.field) {
      <e-column
        [field]="column.field"
        [headerText]="column.headerText"
        [width]="column.width"
        [textAlign]="column.textAlign"
      ></e-column>
      }
    </e-columns>
  </ejs-grid>
  } @else {
  <div class="p-10 text-center">Loading data...</div>
  }
</div>
