<div class="nav-item absolute right-5 md:right-52 top-16 bg-white dark:bg-[#42464D] p-8 rounded-lg w-96"
  [class]="isOpen ? 'hidden': 'nav-item block absolute right-5 md:right-40 top-16 bg-white dark:bg-[#42464D] p-8 rounded-lg w-96 shadow-lg' ">
  <div class="flex justify-between items-center">
    <div class="flex gap-3">
      <p class="font-semibold text-lg dark:text-gray-200">Messages</p>
      <button type="button" class="text-white text-xs rounded p-1 px-2 bg-orange">5 New</button>
    </div>
    <lucide-icon class="cursor-pointer bg-body-secondary" [size]="24" [name]="X" (click)="toggle()"></lucide-icon>
  </div>

  <div class="mt-5">
    <div *ngFor="let item of chatData"
      class="flex items-center gap-5 border-b border-color p-3 leading-8 cursor-pointer">
      <div class="relative">
        <img class="rounded-full h-10 w-10" [src]="item.image" [alt]="item.message" />
        <span class="absolute inline-flex rounded-full h-2 w-2 right-0 -top-1" [style.background]="item.dotColor">
        </span>
      </div>
      <div>
        <p class="font-semibold dark:text-gray-200">{{ item.message }}</p>
        <p class="text-gray-500 dark:text-gray-400 text-sm">{{ item.desc }}</p>
        <p class="text-gray-500 dark:text-gray-400 text-xs">{{ item.time }}</p>
      </div>
    </div>

    <div class="mt-5">
      <app-button color="white" [bgColor]="(currentColor | async) || '#000'" text="See all messages" borderRadius="10px"
        width="full">
      </app-button>
    </div>
  </div>
</div>
